.show_container
  %h1.theme
    %p.title
      \#結婚っていいな
    %p.subscribe
      「結婚」って素敵だな。そう思えるキャッチコピー
  .image
    = image_tag("sample.jpg", class:"guide-img")

  .posted_box
    %ul.posted_lists
      %li.posted_list
        「結婚しなくても幸せになれるこの時代に、私は、あなたと結婚したいのです」
        %p.posted_user
          created by user_name
      %li.posted_list
        結婚するとか、しないとか、それよりもただ、愛してる。
        %p.posted_user
          created by user_name
      %li.posted_list
        くすり指がドキドキした。
        %p.posted_user
          created by user_name
      %li.posted_list
        『ばいばい』が『ただいま』になる。
        %p.posted_user
          created by user_name
      %li.posted_list
        朝起きる、君がいる
        %p.posted_user
          created by user_name
      %li.posted_list
        出会いは突然、きっかけは偶然、これからは必然
        %p.posted_user
          created by user_name
      %li.posted_list
        『ばいばい』が『ただいま』になる。
        %p.posted_user
          created by user_name
  .post
    .post_btn
      = link_to "/" do
        %p 作成

