%p
  出題されたお題に対して、
  %br/
  広告のキャッチコピーをつくってみましょう。

.swiper-container
  / Additional required wrapper
  .swiper-wrapper
    / Slides
    .swiper-slide Slide 1
    .swiper-slide Slide 2
    .swiper-slide Slide 3

