<div class="theme_content">
  <%= image_tag topic.image if topic.image.attached? %>
  <img src="http://umaru-ani.me/1st/special/images/twicon/umaru01.jpg">
  <ul>
    <li class="theme_list">
      <%= link_to "一覧" %>
    </li>
    <li class="theme_creating">
      <%= link_to "作成" %>
    </li>
  </ul>
</div>
