%nav.foot-nav
  .foot-nav_button
    .foot-nav_content
      .foot-nav_icon
        %i.fas.fa-home
      .foot-nav_text
        ホーム
  .foot-nav_button
    .foot-nav_content
      .foot-nav_icon
        %i.far.fa-user
      .foot-nav_text
        マイページ
  .foot-nav_button
    .foot-nav_content
      .foot-nav_icon
        %i.fas.fa-cog
      .foot-nav_text
        設定
