<nav class="foot-nav">
  <div class="foot-nav_button">
    <div class="foot-nav_content">
      <div class="foot-nav_icon">
        <i class="fas fa-home"></i>
      </div>
      <div class="foot-nav_text">
        ホーム
      </div>
    </div>
  </div>
  <div class="foot-nav_button">
    <div class="foot-nav_content">
      <div class="foot-nav_icon">
        <i class="far fa-user"></i>
      </div>
      <div class="foot-nav_text">
        マイページ
      </div>
    </div>
  </div>
  <div class="foot-nav_button">
    <div class="foot-nav_content">
      <div class="foot-nav_icon">
        <i class="fas fa-cog"></i>
      </div>
      <div class="foot-nav_text">
        設定
      </div>
    </div>
  </div>
</nav>
